* {
  font-family: cursive, Meiryo UI, sans-serif;
}

body {
	margin: 0;
  background-color: #000000;
  color: #ffffff;
}

a {
	color: #ffffff;
}

a.button {
  display: block;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
}
a.button:hover {
  background-color: #555555;
}

button {
  color: #ffffff;
  background-color: #555555;
  border: none;
}
button:hover {
  background-color: #330000;
}
