<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title th:text="*{title}">Elysion | TOP</title>
  <link rel="icon" type="image/png" href="/images/hand.png" />
  <link th:href="|/css/common.css?*{switchParam}|" href="/css/common.css" rel="preload" as="style">
  <link th:href="|/css/top.css?*{switchParam}|" rel="preload" as="style">
  <link th:href="|/js/top.js?*{switchParam}|" rel="preload" as="script">
  <link th:href="|/js/chunk-vendors.js?*{switchParam}|" rel="preload" as="script">
  <link th:href="|/css/common.css?*{switchParam}|" href="/css/common.css" rel="stylesheet">
  <link th:href="|/css/top.css?*{switchParam}|" rel="stylesheet">
</head>
<body>
  <noscript>
    <strong>JavaScriptが無効となっています。 続行するには有効にしてください。</strong>
  </noscript>
  <div id="app"></div>
<script th:src="|/js/chunk-vendors.js?*{switchParam}|"></script>
<script th:src="|/js/top.js?*{switchParam}|"></script>
</body>
</html>
